{% extends "list.html" %}
{# one parameter: author #}
{% block pagetitle %}
{{author.name}}
{% endblock %}
{% block subtitle %}{{author.id}}{% endblock subtitle %}


{% block pre_content %}
{% if current_user.is_authenticated() %}
<div class="text-right">
<a class="btn btn-primary"
	href="{{url_for('authorview.edit_view', id=author.id, url=request.path)}}">
	 <span class="glyphicon glyphicon-pencil"></span>
	Edit
</a>
</div>
{% endif %}
{% endblock pre_content %}

{% block list %}
{% if author.opere %}
<thead>
	<tr>
		<th>Opera</th>
		<th>Category</th>
	</tr>
</thead>
<tbody>
{% for op in author.opere %}
<tr>
	<td title="{{op.id}}">
		<a href="{{ url_for('opera', id=op.id) }}">
			{{op.title}}
		</a>
	</td>
	<td>{{op.category}}</td>
</tr>
{% endfor %}
</tbody>
{% else %}{# no esemplari #}
<p class="alert alert-warning">No esemplari available</p>
{% endif %}
{% endblock list %}
{# vim: set ft=jinja: #}

