{% extends "bootstrap/base.html" %}
{% block title %}Colibri{{' - ' if title }}{{title}}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Colibri</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method="get"
	      action="/search">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}
<h1>
	{% block pagetitle %}
	{{title if title else "Colibri"}}
	{% endblock pagetitle %}
	{% block subtitle %}
	{% if subtitle %}
	<small>{{ subtitle }}</small>
	{% endif %}
	{% endblock %}
</h1>

<div class="container">
{% block main_content %}
{{ content|safe if content else lipsum(2) }}
{% endblock main_content %}
</div>
{% endblock content %}
{# vim: set ft=jinja: #}
