{% extends "list.html" %}

{% block pagetitle %}
{{title if title else "Esemplari"}}
{% endblock %}

{% block pre_content %}
{{ super() }}
{% if esemplari|length > 0 %}
<p class="bg-info">{{esemplari|length}} results</p>
{% else %}
<p class="bg-danger">{{esemplari|length}} results</p>
{% endif %}
{% endblock pre_content %}

{% block list %}
{% if esemplari %}

<thead>
	<tr>
		<th>Title</th>
		<th>Authors</th>
		<th>Position</th>
		<th>Actions</th>
	</tr>
</thead>
<tbody>
{% for es in esemplari %}
<tr>
	<td title="{{es.opera.id}}">{{es.opera.title}}</td>
	<td>{{es.opera.authors|join(',')}}</td>
	<td>{{es.position}}</td>
	<td></td>
</tr>
{% endfor %}
</tbody>
{% endif %}
{% endblock %}
{# vim: set ft=jinja: #}
